body {
	color: white;
	background: #202020;
	font-family: "Roboto", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.navbar-brand {
	font-weight: bold;
	font: 900;
	color: rgb(0, 255, 200) !important;
}

.divform {
	border-radius: 5px;
	padding: 2%;
	margin-top: 1%;
	margin-left: 1%;
	margin-right: 1%;
	background-color: #343a40;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.40), 0 6px 20px 0
		rgba(0, 0, 0, 0.19);
}

.btn {
	margin-top: 1%;
	margin-bottom: 1%;
}

thead {
	background-color: rgb(0, 199, 156);
}

.table {
	margin-top: 1%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.40), 0 6px 20px 0
		rgba(0, 0, 0, 0.19);
}

.btn-secondary {
	border: none;
	background-color: #2c3136;
}

.btn-remove {
	border: none;
	background-color: #2c3136;
}

form label {
	font-weight: bold
}

.btn-note {
	color: white;
	background-color: #88888857;
	border: none;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.40), 0 3px 10px 0
		rgba(0, 0, 0, 0.19);
}

.card {
	margin-top: 1%;
	margin-left: 1%;
	margin-right: 1%;
}

.card-row {
	margin-top: 1%;
}

.card-header {
	font-weight: bold
}

.done-link {
	color: rgb(0, 255, 200);
	float: right;
}

.edit-link {
	font-style: italic;
	color: #222627;
	float: right;
	font-weight: bold;
}

.todo-link {
	color: red;
	float: right;
}

.delete-link {
	color: red;
	float: right;
	font-weight: bold;
}

.card-title {
	font-weight: bold;
	color: #88888857;
}

.input-form {
	color: white;
	background-color: #343a40;
	border-color: #202020;
}

.header-form {
	float: left;
	color: rgb(0, 255, 200);
	font-weight: bold;
}

div h5 {
	margin-bottom: 20%;
}